absl-py
astunparse
azure-ai-textanalytics
azure-common
azure-core
blinker
cachetools
certifi
charset-normalizer
click
colorama
cryptography
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h11
h5py
idna
importlib-metadata
isodate
itemloaders
itsdangerous
jax
Jinja2
joblib
keras
libclang
Markdown
MarkupSafe
ml-dtypes
msrest
numpy
oauthlib
opt-einsum
packaging
pandas
Protego
protobuf
pyasn1
pyasn1-modules
PyDispatcher
pyOpenSSL
python-dateutil
pytz
requests
requests-file
requests-oauthlib
rsa
scikit-learn
scipy
Scrapy
selenium
service-identity
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tldextract
trio-websocket
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
wsproto
zipp